$primary-color: #071d33; /* kolore nagusia */
$secondary-color: #0846b8; /* bigarren kolore */
$accent-color: #18bc9c; /* azentuzko kolorea */
$font-primary: "Roboto", sans-serif; /* letra-tipo nagusia */
$font-secondary: "Inter", sans-serif; /* bigarren letra-tipoa */