$primary-color: #2c3e50 /* kolore nagusia */;
$secondary-color: #18bc9c /* bigarren kolore */;
$accent-color: #f39c12 /* azentuzko kolorea */;
$font-primary: "Roboto" /* letra-tipo nagusia */;
$font-secondary: "Inter" /* bigarren letra-tipoa */;